body {
    background-color: #f5f5f5;
}

h1 {
    color: #1e1e2f;
}

h1.title {
    margin-top: 100px;
}

.navbar {
    background: #19bd5c;
}

.navbar .navbar-brand {
    margin-top: 0;
    position: relative;
}

.navbar .navbar-nav .special-item a {
    color: #1e1e2f;
}

.navbar .nav-link:hover {
    color: white;
}

.full-page>.content {
    padding-top: 0;
}


/************************ HOME PAGE ************************/

h1.homepage {
    margin-top: 150px;
}

h2.title {
    color: #1e1e2f;
}

.home-content-container {
    margin: 75px 0;
    height: auto;
    min-height: 250px;
}

.home-content-container .image-container {
    height: 100%;
}

.home-content-container .image-container img {
    height: 100%;
    max-height: 250px;
    object-fit: cover;
}

.home-content {
    height: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
}

.home-content p,
.home-content h5 {
    color: #1e1e2f;
}

.home-content h5 {
    font-weight: bold;
    font-size: 18px;
}

.contact {
    width: 100%;
    margin-top: 75px;
}

.contact h4 a {
    background-color: #19bd5c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
}

.contact h4 a:hover {
    background-color: #19bd5caa;
}


/************************ BUSCADOR ************************/


.accordion {
    margin-top: 57px;
}

.accordion .card {
    background-color: white;
    padding: 15px;
}

.accordion .card .card-header {
    padding-top: 0;
    display: flex;
}

.accordion .card .card-header h2 {
    margin: 0 auto;
    color: #344675;
}

.accordion .card .card-header button {
    font-size: 22px;
    color: #344675;
}

.accordion .card .card-header button:hover,
.accordion .card .card-header button:focus {
    font-size: 22px;
    color: #344675 !important;
}

#search-params {
    display: flex;
    min-height: 70px;
    height: auto;
    padding: 16px;
    background-color: white;
}

#search-params #form {
    display: block;
    margin: 0 auto;
}

#search-params select,
#search-params input {
    display: inline-block;
    height: 100%;
    width: 150px;
    margin: 0 10px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

#search-params .select2 {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    padding: 0 3px;
}

#search-params .select2-selection {
    height: 100%;
}

#search-params .select2-selection span {
    height: 100%;
    line-height: 35px;
}

.select2-results__option {
    color: black;
}

#search-params #submit {
    cursor: pointer;
    background: #19bd5c;
    color: white;
    font-weight: 400;
    border: none;
    transition: .3s;
}

#search-params #submit:hover {
    background-color: #19bd5caa;
}

/************************ PROPERTIES ************************/

.properties-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.property-container {
    height: 360px;
    width: 350px;
    background-color: white;
    border-radius: 4px;
    margin: 15px 0;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}

.property-container .image-container {
    width: 100%;
    height: 200px;
}

.property-container .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.properties-container .property-info {
    text-align: left;
    padding: 0 15px;
}

.properties-container .floating-info {
    display: flex;
    margin-top: -15px;
    justify-content: space-between;
}

.properties-container .property-info .price,
.properties-container .property-info .surface {
    display: block;
    padding: 5px;
    background-color: #19bd5c;
    color: white;
    font-weight: bold;
    width: fit-content;
    border-radius: 5px;
}

.properties-container .property-info .surface {
    background-color: #3bb5ee;
}

.status {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    color: white;
    background-color: #ef4153;
    font-weight: bold;
    width: fit-content;
    border-radius: 5px;
}

.properties-container .property-info .info-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.properties-container .property-info .category,
.properties-container .property-info .zone {
    font-weight: bold;
    display: inline-block;
    color: #525f7f;
    text-align: center;
    font-size: 15px;
}

.properties-container .property-info .name {
    color: #19bd5c;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    transition: .3s;
}

.properties-container .property-info .name:hover {
    color: #19bd5caa;
}

.properties-container .property-info .city {
    font-weight: bold;
}

.pagination {
    margin-top: 50px;
}

.pagination li.page-item a {
    color: #1e1e2f;
}

.pagination li.page-item.active span {
    background-color: #19bd5c;
    border-color: #19bd5c;
}

/************************ PROPERTY INFO ************************/

.info {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.information-container {
    background-color: white;
    margin-bottom: 75px;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
    padding: 0 25px;
}

.info .price,
.info .status,
.info .surface {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.info .price {
    background-color: #19bd5c;
}

.info .status {
    background-color: #ef4153;
}

.info .surface {
    background-color: #3bb5ee;
}

.description {
    text-align: left;
}

.description p {
    font-size: 16px;
    color: #1e1e2f;
    margin: 50px 0;
}

.location {
    display: flex;
    flex-direction: column;
    color: #1e1e2f;
    font-size: 20px;
    margin: 50px 0;
}

.location span {
    margin: 5px 0;
}

.location .city {
    font-weight: bold;
}

.location .category {
    color: #1e1e2f;
    font-size: 20px;
}

.slideshow-container {
    height: 450px;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.mySlides img {
    height: 100%;
}

.dot {
    height: 12px;
    width: 12px;
}

.dot.active,
.dot:hover {
    background-color: #19bd5c;
}

/************************ CONTACT FORM ************************/

#contact-form {
    display: flex;
    justify-content: center;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

#contact-form form input,
#contact-form form textarea {
    display: block;
    margin: 15px 0;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #aaa;
    padding: 10px;
    outline: none;
}

#contact-form .submit {
    cursor: pointer;
    background-color: #19bd5c;
    color: white;
    font-weight: bold;
    transition: .3s;
    border: none;
    width: fit-content;
    padding: 10px 20px;
}

#contact-form .submit:hover {
    background-color: #19bd5caa;
}

/************************ FOOTER ************************/

footer {
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #282b30;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
}

#footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer .social-media .social-media-links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#footer .social-media .social-media-links a {
    display: block;
    color: white;
    margin: 0 15px;
    transition: .3s;
}

#footer .social-media .social-media-links a:hover {
    color: #19bd5c;
}

#footer .footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#footer .footer-links a {
    color: white;
    font-size: 18px !important;
    transition: .3s;
}

#footer .footer-links a:hover {
    color: #19bd5c;
}

footer #copyright {
    text-align: center;
}

/************************ MOBILE ************************/

@media (max-width: 768px) {

    /************************ HOME PAGE ************************/

    .home-content-container {
        margin: 50px 0;
    }

    .home-content-container .image-container {
        height: 0;
    }

    .home-content-container .image-container img {
        display: none;
    }

    .home-content {
        height: auto;
        box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
    }

    /************************ BUSCADOR ************************/

    #search-params select,
    #search-params input,
    #search-params .select2 {
        display: block;
        margin: 10px 0;
        height: auto;
    }

    #search-params .select2-selection,
    #search-params .select2-selection span {
        height: auto;
    }

    #search-params .select2-selection span b {
        margin-top: 15px;
    }

    .properties-container {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .properties-container .property-container {
        margin: 20px 0;
    }

    /************************ CONTACT FORM ************************/

    #contact-form form {
        width: 100%;
    }

    /************************ FOOTER ************************/

    footer {
        padding-top: 25px;
    }

    #footer .social-media {
        margin-top: 15px;
    }

    #footer .footer-links {
        flex-direction: column;
        margin: 30px 0;
    }

    #footer .footer-links a {
        margin: 5px 0;
    }
}
